
body {
    width: 100vw;
    height: 100vh;
}

body, body * {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: "Avenir Next", sans-serif;
=======
    font-family: standard, sans-serif;
>>>>>>> 917146c0a81e0c5823069c51430b96dc0fb1eed2
    font-size: 100%;
    outline: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

a, p, input, select, textarea, button, label, h1, h2, h3, h4, h5, h6 {
<<<<<<< HEAD
    background-color: transparent;
    padding: 10px;
}

a, p, button, label, h1, h2, h3, h4, h5, h6 {
    cursor: default;
=======
    padding: 10px;
>>>>>>> 917146c0a81e0c5823069c51430b96dc0fb1eed2
}

.link {
    margin: 20px;
}

a, a:visited, a:focus, a:hover {
    text-decoration: none;
}

a, a:visited, a:focus {
    color: #000000;
}

a:hover {
    cursor: pointer;
    color: #888888;
}

button {
    cursor: pointer;
}
<<<<<<< HEAD

li {
    margin-bottom: 20px;
}


=======
>>>>>>> 917146c0a81e0c5823069c51430b96dc0fb1eed2
