
<<<<<<< HEAD
#logo_container {
    width: calc(100% - 40px);
    height: 5em;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    z-index: 100;
}

#logo {
=======
.logo_container {
    background-color: rgba(255, 255, 255, 1);
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    transition: background-color 2s ease, width 2s, height 2s;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.logo_container.ausgeblendet {
    background-color: rgba(255, 255, 255, 0);
    width: calc(100% - 40px);
    height: 5em;
    transition: background-color 2s ease, width 2s, height 2s;
}

.logo {
>>>>>>> 917146c0a81e0c5823069c51430b96dc0fb1eed2
    font-size: 300%;
    border-bottom: 1px solid #888888;
    cursor: default;
}

.menue_container {
    position: fixed;
<<<<<<< HEAD
    top: 0;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 5px #888888;
    transform: translateX(0);
    transition: transform 1s;
}

#menue_container {
    left: 0;
}

#menue_container.ausgeblendet {
    transform: translateX(-400px);
    transition: transform 1s;
}

.menue {
    padding: 20px;
}

.menue h3 {
    margin-bottom: 40px;
}

.menue_block {
    margin-bottom: 20px;
}

=======
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #888888;
    transition: width 0.5s;
}

.menue {
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
    /*overflow: hidden;*/
}

.menue_button {
    margin-bottom: 20px;
}

.menue_container.ausgeblendet {
    width: 0;
    transition: width 0.5s;
}

.fixiert {
    overflow: hidden;
}

.form_container {
    background-color: rgba(255, 255, 255, 0.97);
    padding: 40px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 3px rgba(135, 135, 135, 0.5);;
    border-radius: 5px;
}

.form_container.ausgeblendet {
    display: none;
}

.form_body_wrapper {
    min-height: 400px;
    max-height: 70vh;
}

.form_body, .form_body_wrapper {
    overflow: scroll;
}

.form_block > *, .form_optionen, .form_block_neu {
    padding: 20px;
}

.form_block_content, .form_optionen {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 250px 250px;
    overflow: hidden;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

.form_block.ausgeblendet .form_block_content {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
}

.form_block_ausblender {
    float: right;
}

.form_label {
    color: #aaaaaa;
    grid-column: 1;
}

.form_select, .form_submit {
    grid-column: 2;
}

.form_container .form_submit, .form_container .form_abbrechen {
    border-radius: 5px;
}

.form_container .form_submit {
    background-color: #888888;
    color: #ffffff;
}

.form_container .form_abbrechen, .form_block_ausblender {
    background-color: transparent;
    border-radius: 5px;
}

.form_submit:hover, .form_abbrechen:hover {
    cursor: pointer;
}

.form_container .form_titel {
    padding: 30px;
}

.form_item {
    display: inline-grid;
    resize: none;
    background-color: transparent;
}

input[type="text"].form_item, textarea.form_item {
    grid-column: 1 / span 2;
}

.form_neu_button {
    width: 100%;
    margin-top: 20px;
}

textarea.form_input {
    height: 60px;
}

.form_submit:active, .form_abbrechen:active {
    color: transparent;
}

.form_body .hidden {
    display: none;
    visibility: hidden;
}


>>>>>>> 917146c0a81e0c5823069c51430b96dc0fb1eed2
